<style>
  paper-card {
    width: 800px;
  }
</style>
<paper-card heading="Login">
  <div class="card-content">
    <paper-input label="Email" type="email" ngDefaultControl [(ngModel)]="username"></paper-input>
    <paper-input label="Password" type="password" ngDefaultControl [(ngModel)]="password"></paper-input>
    <paper-button (click)="login()">Sign in</paper-button>
  </div>
</paper-card>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form (ngSubmit)="login()">
      <fieldset>
        <div class="form-group">
          <label for="useremail">Email address</label>
          <input type="email" class="form-control" id="useremail" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="userpassword">Password</label>
          <input type="password" class="form-control" id="userpassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>