<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="http://placehold.it/150x50&text=Logo" alt="">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul *ngIf="isLoggedIn" class="nav navbar-nav">
        <li>
          <a [routerLink]="['Home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['Profile']">Profile</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
      <ul *ngIf="!isLoggedIn" class="nav navbar-nav">
        <li>
          <a (click)="register()">Register</a>
        </li>
        <li>
          <a [routerLink]="['Login']">Login</a>
        </li>
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container" style="margin-top: 100px;">
  <router-outlet></router-outlet>
</div>
<!-- /.container -->
