<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form (ngSubmit)="login()">
      <fieldset>
        <div class="form-group">
          <label for="useremail">Email address</label>
          <input type="email" class="form-control" id="useremail" placeholder="Email" [(ngModel)]="useremail">
        </div>
        <div class="form-group">
          <label for="userpassword">Password</label>
          <input type="password" class="form-control" id="userpassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
